<form {{action "save" on="submit"}}>
    <h4>{{errorMessage}}</h4>
<div class="row">
<p class="col s6">
<label>Name:
{{input value=model.name}}
</label>
</p>
<p class="col s6">
<label>Purpose:
{{input value=model.purpose}}
</label>
</p>
</div>
<div class="row">
<p class="col s6">
<label>From:
{{input value=model.from}}
</label>
</p>
<p class="col s6">
<label>Destination:
{{input value=model.to}}
</label>
</p>
</div>
<div class="row">
<p class="col s6">
<label>Distance in kilometers:
{{input value=model.requiredkms}}
</label>
</p>
<p class="col s6">
<label>Charges:
{{input value=model.charges}}
</label>
</p>
</div>
<p>
<label>Time:
  {{input type="date" value=model.time}}
</label>
</p>
<div class="card-action">
              <input class="btn waves-effect waves-light" type="submit" value="Save"/>
              <button class="btn waves-effect waves-light" {{action "cancel"}}>Cancel</button>
            </div>
</form>