<style>
    table tr a {
    display:block;
    height:100%;
    width:100%;
}
</style>
<span class="card-title grey-text text-darken-4 ">Total Bookings: {{model.length}}</span>
<table class="centered bordered hoverable">
<thead>
<tr>
<th data-field="name">Name</th>
<th data-field="from">From</th>
<th data-field="to">To</th>
<th data-field="Purpose">Purpose</th>
<th data-field="requiredkms">Kilo Meters</th>
<th data-field="charges">Charges</th>
<th data-field="time">Time</th>
</tr>
</thead>
{{#each booking in model}}
<tbody>
    {{#link-to 'bookings.show' booking}}
<tr>
<div>
<td>{{booking.name}}</td>
<td>{{booking.from}}</td>
<td>{{booking.to}}</td>
<td>{{booking.purpose}}</td>
<td>{{booking.requiredkms}} KM</td>
<td>Rs.{{booking.charges}}</td>
<td>{{booking.time}}</td>
</div>
</tr>
{{/link-to}}
</tbody>
{{/each}}
</table>